body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    background-image: url('../Resources/fondoJuego.jpg');
}

@keyframes cambiarColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: yellow; }
    100% { color: red; }
}

#tituloJuego {
    animation: cambiarColor 3s infinite alternate;
}

.card {
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: aparecer 0.5s ease-in-out;
}

/* Contenedor de elecciones */
#contenedorElecciones {
    display: none;
    z-index: 1000;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Botones de juego */
#piedra, #papel, #tijera {
    width: 200px;
    height: 200px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border-color: transparent;
}

#piedra:hover, #papel:hover, #tijera:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

/* Estilos para el contador de puntaje y el nombre del jugador */
#contadorPuntaje, #nombreJugador {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block; 
}

/* Estilos para el contenedor del resultado del juego */
#resultadoJuego {
    display: none;
    color: white; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px 20px; 
    border-radius: 10px; 
    margin: 20px auto; 
    width: fit-content; 
    position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000; 
}