body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    background-image: url('../Resources/fondoJuego.jpg');
}

/* Botones de juego */
#piedra, #papel, #tijera {
    width: 200px;
    height: 200px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#piedra:hover, #papel:hover, #tijera:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

/* Contenedor de elecciones */
#contenedorElecciones {
    display: none; /* Oculto por defecto */
    z-index: 1000;
    margin-top: 20px;
}

.card {
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: aparecer 0.5s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}